.center {
    display: grid;
    place-items: center;
}

.right {
    text-align: right;
    float: right;
    padding-left: 50%;
    width: 50%;
}

.normal {
    width: 50%;
}

.left {
    width: 40%;
}

.flexdiv {
    display: grid;
    place-items: center;
    padding-bottom: 25px;
}

.childdiv {
    grid-area: 1 / 2 / span 1 / span 1;
    padding-left: 30px;
    padding-bottom: 30px;
}

.rightimage {
    grid-area: 1 / 3 / span 1 /span 1;
}

#title {
    font-family: Oswald, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    padding-left: 20px;
}

#header {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#text {
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

#image {
    padding-left: 20px;
}

@media (max-width: 500px){
    .flexdiv {
        display: flex;
        flex-direction: row;
        padding-bottom: 25px;
    }
    .normal {
        width: 100%;
    }
    .right {
        width: 100%;
    }
    .childdiv {
        flex:100%;
        padding-left: 30px;
        padding-bottom: 30px;
   }
    #image {
        padding-left: 20px;
        max-width: 150px;
        max-height: 150px;
    }
    #header {
        font-family: Oswald, sans-serif;
        font-size: 9px;
        font-weight: bold;
    }
    #text {
        font-family: Oswald, sans-serif;
        font-size: 6px;
    }
    #title {
        font-family: Oswald, sans-serif;
        font-size: 20px;
        font-weight: bolder;
    }
}