@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald/static/Oswald-Regular.ttf") format("truetype");
    /* Add more font formats if necessary */
}

body {
    font-family: "Oswald", sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: light;
    }
    body {
        color: black;
        background: white;
    }
    :root {
        color-scheme: light;
        --pf: 259 94% 44%;
        --sf: 314 100% 40%;
        --af: 174 75% 39%;
        --nf: 214 20% 14%;
        --in: 198 93% 60%;
        --su: 158 64% 52%;
        --wa: 43 96% 56%;
        --er: 0 91% 71%;
        --inc: 198 100% 12%;
        --suc: 158 100% 10%;
        --wac: 43 100% 11%;
        --erc: 0 100% 14%;
        --rounded-box: 1rem;
        --rounded-btn: 0.5rem;
        --rounded-badge: 1.9rem;
        --animation-btn: 0.25s;
        --animation-input: 0.2s;
        --btn-text-case: uppercase;
        --btn-focus-scale: 0.95;
        --border-btn: 1px;
        --tab-border: 1px;
        --tab-radius: 0.5rem;
        --p: 259 94% 51%;
        --pc: 259 96% 91%;
        --s: 314 100% 47%;
        --sc: 314 100% 91%;
        --a: 174 75% 46%;
        --ac: 174 75% 11%;
        --n: 214 20% 21%;
        --nc: 212 19% 87%;
        --b1: 0 0% 100%;
        --b2: 0 0% 95%;
        --b3: 180 2% 90%;
        --bc: 215 28% 17%;
    }
}
