@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald/static/Oswald-Regular.ttf') format('truetype');
    /* Add more font formats if necessary */
  }

body {
  font-family: 'Oswald', sans-serif;
  margin-left: 20px;
}