.container {
    width: 100% - 20px;
    overflow-x: scroll;
    white-space: nowrap;
}

.images {
    white-space: nowrap;
}

.images img {
    display: inline-block;
    width: 1100px;
    height: 350px;
    margin-right: 10px;
}
