.container {
    overflow-x: scroll;
    white-space: nowrap;
}

.images {
    white-space: nowrap;
}

.images img {
    display: inline-block;
    width: 1200px;
    height: 350px;
    margin-right: 10px;
}
