.side-menu {
    position: fixed;
    top: 0;
    left: -300px; /* Initially offscreen */
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    transition: left 0.3s ease-out;
}

.side-menu.open {
    left: 0; /* Moves into the viewport when open */
}

.close-button {
    position: relative;
    left: 35px;
    top: 10px;
    width: 50px;
    height: 50px;
    background: url(/photos/x.png);
    border-style: none;
    background-color: none;
}

.link {
    color: black;
    text-decoration: none;
}

ul li {
    margin-top: 1.5px;
}

ul {
    list-style-type: none;
    padding: 0;
    padding-left: 30px;
}

